In [ ]:

### Including the Summary in Your Notebook

1. **Markdown Cell**:
   - Add a new markdown cell in your Jupyter notebook and paste the summary there.

2. **Code Cell**:
   - Add the code provided in the summary to a new code cell in your Jupyter notebook.

### Example Notebook Structure

```markdown
# STA130 Week 01 Homework

## Task 1: Importing the Dataset and Checking for Missing Values

**Conversation Summary:**

1. **Dataset URL**:
   - We used the `tree_rings.csv` dataset from the TidyTuesday project.
   - URL: `https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv`

2. **Code to Import Dataset and Check for Missing Values**:
   ```python
   import pandas as pd  # Import the pandas library

   # URL of the dataset
   url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv"
   df = pd.read_csv(url)  # Read the CSV file into a DataFrame

   # Check for missing values
   missing_values = df.isna().sum()
   print(missing_values)


    Output:
        The output showed that each column (year, n_tree, europe_temp_index) has 252 missing values.

    Explanation:
        We discussed the meaning of the output and the impact of missing values on data analysis.
        We also explored different strategies for handling missing values, such as removing rows with missing values or filling missing values with specific values.

Link to Chat Log History:

In [ ]:


TASK2

In [ ]:
Task 2: Determining the Number of Rows and Columns

Conversation Summary:

    Dataset URL:
        We used the tree_rings.csv dataset from the TidyTuesday project.
        URL: https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv

    Code to Determine the Number of Rows and Columns:
        
        
        import pandas as pd  # Import the pandas library

# URL of the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv"
df = pd.read_csv(url)  # Read the CSV file into a DataFrame

# Determine the number of rows and columns
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")




Output:

    The output showed the number of rows and columns in the dataset.

Definitions:

    Observations: Individual data points or records in a dataset. Each row in a DataFrame represents one observation.
    Variables: Attributes or features of the data that are measured or recorded. Each column in a DataFrame represents one variable.

Clarification:

    We clarified that if a DataFrame has a shape of (4, 6), it means there are 4 observations (rows) and 6 variables (columns).
    We also discussed that in a dataset, the x-axis typically represents observations (rows) and the y-axis represents variables (columns).

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv"
df = pd.read_csv(url)
rows, columns = df.shape
f"Number of rows: {rows}", f"Number of columns: {columns}"

('Number of rows: 2252', 'Number of columns: 3')

In [ ]:
In my own word, I believe that we can get 
observations number by count left to right,which is value of x axis. These values is in this type
and get variables number by count up to down,which is value of y axis. These value is in this type

In [ ]:


TASK3

In [ ]:
Task 3: Summarizing Columns in the Dataset

    Objective:
        Use df.describe() and df['column'].value_counts() to summarize the dataset.

    Steps to Follow:

        Load the Dataset:
            
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv"
df = pd.read_csv(url)

Get Summary Statistics for Numeric Columns:

    summary_statistics = df.describe()
    print(summary_statistics)

Get Value Counts for a Specific Column

    value_counts_n_tree = df['n_tree'].value_counts()
    print(value_counts_n_tree)



Explanation of Summary Statistics:

    Count: Number of observations.
    Mean: Average value.
    Standard Deviation (std): Measure of variability.
    Min and Max: Minimum and maximum values.
    Percentiles (25%, 50%, 75%): Distribution of data.

Handling Truncated Output:

    The two dots (“…”) in the value_counts() output indicate truncation due to too many unique values.
    To display all rows, use:

        pd.set_option('display.max_rows', None)

    ...

        ...

Key Points:

    df.describe() provides a summary of statistics for numeric columns.
    df['column'].value_counts() counts the occurrences of each unique value in the specified column.
    The two dots (“…”) indicate truncated output, which can be adjusted to display all rows.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-12/tree_rings.csv"
df = pd.read_csv(url)
summary_statistics = df.describe()
value_counts_n_tree = df['n_tree'].value_counts()
summary_statistics, value_counts_n_tree

(              year       n_tree  europe_temp_index
 count  2000.000000  2000.000000        2000.000000
 mean   1000.500000    -0.551175          -0.165005
 std     577.494589     0.716904           0.446605
 min       1.000000    -3.290000          -1.730000
 25%     500.750000    -1.010000          -0.470000
 50%    1000.500000    -0.530000          -0.160000
 75%    1500.250000    -0.050000           0.130000
 max    2000.000000     2.260000           1.530000,
 n_tree
 -0.33    21
 -0.75    20
 -0.34    19
 -0.17    18
 -0.83    17
          ..
 -2.05     1
  0.43     1
  0.73     1
  0.51     1
  0.71     1
 Name: count, Length: 339, dtype: int64)

In [ ]:



TASK 4

In [ ]:

First, df.shape will count all column include missing value. However df.describe won't count missing value.
We can find that under this text that variable "age" has 177 missing value.Beacuse df.describe didn't count it, so it is 714,819-177
df.shape counts it ,so it gives number 891
Also, df.shape can count non_numeric value like words. However, df.describe can't do it.Instead of that  it will give frequency,top number and unique 
So, in general, 
df.shape can deal with non_numeric and missing value. df.describe won't count missing value, and it will be different with non_numeric value

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.head()
missing_values = df.isna().sum()
dataset_shape = df.shape
summary_statistics = df.describe()
count_column = summary_statistics.loc['count']
count_column, dataset_shape, summary_statistics, missing_values

(survived    891.0
 pclass      891.0
 age         714.0
 sibsp       891.0
 parch       891.0
 fare        891.0
 Name: count, dtype: float64,
 (891, 15),
          survived      pclass         age       sibsp       parch        fare
 count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
 mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
 std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
 min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
 25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
 50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
 75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
 max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200,
 survived         0
 pclass           0
 sex              0
 age            177
 sibsp            0
 parch            0
 fare             0
 embarked         2
 class            0
 who              0
 adult_male       0
 deck           688
 embark_town      2
 alive            0
 alone            0
 dtype: int64)

In [2]:
import pandas as pd
import numpy as np
data = {
    'numeric': [1, 2, np.nan, 4],
    'categorical': ['a', 'b', 'b', np.nan],
    'boolean': [True, False, True, True]}
df = pd.DataFrame(data)
print("Shape of the DataFrame:", df.shape)
print("\nDescriptive statistics for all columns:")
print(df.describe(include='all'))

Shape of the DataFrame: (4, 3)

Descriptive statistics for all columns:
         numeric categorical boolean
count   3.000000           3       4
unique       NaN           2       2
top          NaN           b    True
freq         NaN           2       3
mean    2.333333         NaN     NaN
std     1.527525         NaN     NaN
min     1.000000         NaN     NaN
25%     1.500000         NaN     NaN
50%     2.000000         NaN     NaN
75%     3.000000         NaN     NaN
max     4.000000         NaN     NaN

In [ ]:


TASK5

In [ ]:
My understand is that attributs just count number, but method just like a caculater. If you put letter instead of number in it, it will be wrong
because it need to process the number. As same as doing math problem, you just can't do 5 + apple 
So method require right type of data to work. However attributs don't. It can accept all types of data

    an "attribute", such as df.shape which does not end with ()
    and a "method", such as df.describe() which does end with ()
This () is using for input data

In [ ]:
from gpt
    Attributes: These are characteristics or properties of an object. In the context of a pandas DataFrame,
    df.shape is an attribute that provides the dimensions of the DataFrame (number of rows and columns). 
    Attributes do not require parentheses because they do not perform any action; they simply return a value.
    Methods: These are functions that belong to an object and can perform actions on that object. 
    For example, df.describe() is a method that calculates and returns summary statistics for the DataFrame. 
    Methods require parentheses because they can take arguments and perform operations.

In [ ]:


TASK6

In [ ]:
Count: number for all value(not include missing one!)
Mean: averge value
Standard deviation: roots of x, using to describe how seperate of data, bigger value means seperate data
Minimum; smallist number 
25%: the value below 25% of the data falls
50%: middle value, where 50% of the data falls below
75%: the value below which 75% of the data falls.
Maximum: biggest value

In [ ]:


TASK7

In [ ]:
df.dropna() will delete all rows which have missing value. del df['col'] will delecte the column you chose.
In general, I think when we have data which have many rows and few column, using df.dropna() will be better
When data which have many column and few rows, it is better to use del df['col'] first and then use df.dropna()
Also, when there are many missing value on a column, using del df['col'] will be better
I don't recommend using df.dropna at first because it will deleted all rows with missing data, may waste lot data.

In [ ]:


TASK8

In [ ]:
df.groupby("col1")["col2"].describe(), It won't change type of col1 and col2, they just being regroup . col1 will be the cloumn and col2 will
be the row
col1 and col2 must contain same numbers of value(usually same) and each value up will corrsponded with value down
like [1, 1, 2, 2, 3, 4], after describe it will become[1 a b]
                                                       2 c d
                                                       3 e
                                                       4 f
     [a, b, c, d, e, f]                              
also, because col2 been regroup, each value will be different to original data. it will auto deleted. it will not count missing value eather.

In [13]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)
grouped_description = titanic_df.groupby("sex")["age"].describe()
grouped_description

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [ ]:


error

In [9]:
 from google
    Report this ad
24

I am attempting run in Jupyter

import pandas as pd                     
import matplotlib.pyplot as plt          # plotting
import numpy as np                       # dense matrices
from scipy.sparse import csr_matrix      # sparse matrices
%matplotlib inline

However when loading the dataset with

wiki = pd.read_csv('people_wiki.csv')
# add id column
wiki['id'] = range(0, len(wiki))
wiki.head(10)

the following error persists

NameError                                 Traceback (most recent call last)
<ipython-input-1-56330c326580> in <module>()
----> 1 wiki = pd.read_csv('people_wiki.csv')
      2 # add id column
      3 wiki['id'] = range(0, len(wiki))
      4 wiki.head(10)

NameError: name 'pd' is not defined

SyntaxError: invalid decimal literal (3990406679.py, line 22)

In [ ]:
slove: add import pandas as pd

In [ ]:
A from google

I am getting an IOError:

[Errno 2] No such file or directory: 'sample.csv'

The CSV file exists in the same location as the script. I am running it from the same path as well. This is my code:

import csvkit
file_name='sample.csv'
with open(file_name,'rb') as f:
    reader = csvkit.reader(f)
    print reader

    pythoncsv

Share
Improve this question
Follow
edited Jun 3, 2015 at 18:12
heinst's user avatar
heinst
8,70888 gold badges4545 silver badges8080 bronze badges
asked Jun 3, 2015 at 17:37
satyaki's user avatar
satyaki
63122 gold badges77 silver badges1414 bronze badges

    The python docs claim that file_name is either an absolute pathname or a relative pathname to the current working directory. Can you show the result of os.getcwd()? – 
    ott--
    Commented Jun 3, 2015 at 17:52 

Add a comment
2 Answers
Sorted by:
0

You need the entire path...

import csvkit
file_name='users/zinedine/documents/sample.csv' # Must be full path
with open(file_name,'rb') as f:
    reader = csvkit.reader(f)
    print reader

Or...

Set the current working directory:

os.chdir("My/directory")

And continue on like normal.

In [ ]:
slove: copy correct name from wbesite

In [ ]:
B from google

I don't know why "df" is not defined because i already assigned df a value. I read some question and answers online regarding this matter but none seem to help me solve my problem. If i remove the code to use CUDA, it runs perfectly but the project i'm working on requires for me to use CUDA.

@nb.jit(nopython=True)
def func_nb():
    data = pd.read_csv('dummycsv.csv')
    df = DataFrame(data)
    df['Tag'] = df['Tag'].map(lambda x: re.sub(r'\W+', '_', x))
tempdata = pd.DataFrame(columns=['Time','Value'])

taglist = pd.read_excel('dummyexcel.xlsx')
dt = DataFrame(taglist, columns=['Tag'])
dt['Tag'] = dt['Tag'].map(lambda x: re.sub(r'\W+', '_', x))


for i,row in dt.iterrows(): 

   tempdata = tempdata[0:0]      
   for index,row in df.iterrows():

       tag = dt.iloc[i]['Tag'] 
       x = df.iloc[index]['Tag']
       val = df.iloc[index]

Expected results are new files being created as a result from reading both excel and csv file and filtering the data in them.

Any help would be greatly appreciated!

    pythonpandasdataframenumba

Share
Improve this question
Follow
edited Dec 19, 2020 at 19:36
peterh's user avatar
peterh
1
asked Sep 25, 2019 at 9:30
Aldin Yusmar's user avatar
Aldin Yusmar
9111 gold badge33 silver badges1010 bronze badges

    You will have to let func_nb() return the df and make sure to call func_nb() – 
    Carsten
    Commented Sep 25, 2019 at 9:32
    1
    df is declared in your function func_nb() it does not exists outside of it, you will need to add a return to the function and call it – 
    Plopp
    Commented Sep 25, 2019 at 9:32
    1
    You're not using CUDA here. With or without any changes to your handling of df. You may be confused about what it means to use CUDA in a numba context. – 
    Robert Crovella
    Commented Sep 25, 2019 at 10:55

Add a comment
3 Answers
Sorted by:
4

def func_nb():
   data = pd.read_csv('dummycsv.csv')
   df = DataFrame(data)
   df['Tag'] = df['Tag'].map(lambda x: re.sub(r'\W+', '_', x))
   return df

df = func_nb()

After that you can use your dataframe, because it now exists outside of the your function.
Share
Improve this answer
Follow

In [ ]:
slove: just use df.

In [ ]:
C from google
by resolving it.
Cause 1: Missing or Unmatched Parentheses
Example 1:

The most common cause of this error is usually a missing punctuation mark somewhere. Let's consider the following print statement:

print('This is a test'
Learn Data Science with

As you may have noticed, the statement is missing a closing parenthesis on the right-hand side. Usually, the error will indicate where it experienced an unexpected end-of-file, and so all we need to do here is add a closing parenthesis where the caret points.
Solution

print('This is a test')

Out:

This is a test
Learn Data Science with

In this case, adding in the closing parenthesis has shown Python where print statement ends, which allows the script to run successfully.

This occurrence is a reasonably simple example, but you will come across more complex cases, with some lines of code requiring multiple matchings of parentheses (), brackets [], and braces {}.

To avoid this happening, you should keep your code clean and concise, reducing the number of operations occurring on one line where suitable. Many IDEs and advanced text editors also come with built-in features that will highlight different pairings, so these kinds of errors are much less frequent.

Both PyCharm (IDE) and Visual Studio Code (advanced text editor) are great options if you are looking for better syntax highlighting.
Example 2

Building on the previous example, let's look at a more complex occurrence of the issue.

It's common to have many sets of parentheses, braces, and brackets when formatting strings. In this example, we're using an f-string to insert variables into a string for printing,

example_list = [1, 2, 3, 4, 5]

for i, item in enumerate(example_list):
    print(f'index : {i} value : {item}'

Out:

File "<ipython-input-3-babbd3ba1063>", line 4
    print(f'index : {i} value : {item}'
                                       ^
SyntaxError: unexpected EOF while parsing
Learn Data Science with

Like the first example, a missing parenthesis causes the error at the end of the print statement, so Python doesn't know where the statement finishes. This problem is corrected as shown in the script below:
Solution

example_list = [1, 2, 3, 4, 5]

for i, item in enumerate(example_list):
    print(f'index : {i} value : {item}')

Out:

index : 0 value : 1
index : 1 value : 2
index : 2 value : 3
index : 3 value : 4
index : 4 value : 5
Learn Data Science with

In this situation, the solution was the same as the first example. Hopefully, this scenario helps you better visualize how it can be harder to spot missing punctuation marks, throwing an error in more complex statements.
Cause 2: Empty Suite

The following code results in an error because Python can't find an indented block of code to pair with our for loop. As there isn't any indented code, Python doesn't know where to end the statement, so the interpreter gives the syntax error:

example_list = [1, 2, 3, 4, 5]

for item in example_list:

Out:

File "<ipython-input-5-5927dfecd199>", line 3
    for item in example_list:
                             ^
SyntaxError: unexpected EOF while parsing
Learn Data Science with

A statement like this without any code in it is known as an empty suite. Getting the error, in this case, seems to be most common for beginners that are using an ipython console.
Note

As of Python 3.9, running the same code throws the error IndentationError: expected an indented block instead.

We can remedy the error by simply adding an indented code block:
Solution

example_list = [1, 2, 3, 4, 5]

for item in example_list:
    print(item)

Out:

1
2
3
4
5
Learn Data Science with

In this case, going with a simple print statement allowed Python to move on after the for loop. We didn't have to go specifically with a print statement, though. Python just needed something indented to detect what code to execute while iterating through the for loop.
Cause 3: Unfinished try statement

When using try to handle exceptions, you need always to include at least one except or finally clause. It's tempting to test if something will work with try, but this is what happens:

try:
    print('hello')

Out:

File "<ipython-input-7-20a42a968335>", line 2
    print('hello')
                  ^
SyntaxError: unexpected EOF while parsing
Learn Data Science with

Since Python is expecting at least one except or finally clause, you could handle this in two different ways. Both options are demonstrated below.
Solution

try:
    print('hello')
except:
    print('failed')

Out:

hello
Learn Data Science with

try:
    print('hello')
finally:
    print('printing anyway')

Out:

hello
printing anyway
Learn Data Science with

In the first option, we're just making a simple print statement for when an exception occurs. In the second option, the finally clause will always run, even if an exception occurs. Either way, we've escaped the SyntaxError!
Summary

This error gets triggered when Python can't detect where the end of statement or block of code is. As discussed in the examples, we can usually resolve this by adding a missing punctuation mark or using the correct indentation. We can also avoid this problem by keeping code neat and readable, making it easier to find and fix the problem whenever the error does occur.
Master data
skills. Build
your career._
Start Learning for Free
Get updates in your inbox

Join over 7,500 data science learners.
Recent articles:
The 9 Best AI Courses Online for 2024: Beginner to Advanced
The 6 Best Python Courses for 2024 – Ranked by Software Engineer
Best Course Deals for Black Friday and Cyber Monday 2024
Sigmoid Function

    Contents
    Why does this occur?
    Cause 1: Missing or Unmatched Parentheses
    Example 1:
    Solution
    Example 2
    Solution
    Cause 2: Empty Suite
    Solution
    Cause 3: Unfinished try statement
    Solution
    Summary

In [ ]:
slove: lost half  )

In [ ]:
D from google

I am trying to group by a polars dataframe following the document:

https://pola-rs.github.io/polars/py-polars/html/reference/dataframe/api/polars.DataFrame.group_by.html#polars.DataFrame.group_by

import polars as pl
df = pl.DataFrame(
    {
        "a": ["a", "b", "a", "b", "c"],
        "b": [1, 2, 1, 3, 3],
        "c": [5, 4, 3, 2, 1],
    }
)
df.group_by("a").agg(pl.col("b").sum())

However, I am getting this error:

AttributeError: 'DataFrame' object has no attribute 'group_by'

    pythonpython-3.xdataframepython-polars

Share
Improve this question
Follow
edited Oct 26, 2023 at 1:04
asked Oct 25, 2023 at 17:43
Free Palestine's user avatar
Free Palestine
23.1k4545 gold badges7979 silver badges105105 bronze badges
Add a comment
1 Answer
Sorted by:
6

On checking I found my polars version :

pl.__version__

0.17.3

https://pola-rs.github.io/polars/py-polars/html/reference/dataframe/api/polars.DataFrame.groupby.html

I need to do:

df.groupby("a").agg(pl.col("b").sum())  # there is no underscore in groupby

#output

shape: (3, 2)
a   b
str i64
"a" 2
"c" 3
"b" 5

and the document says :

    Deprecated since version 0.19.0: This method has been renamed to DataFrame.group_by().

This is the new document for polars version 0.19

https://pola-rs.github.io/polars/py-polars/html/reference/dataframe/api/polars.DataFrame.group_by.html#polars-dataframe-group-by

In [ ]:
slove tape wrong name, titanic_df.group      delete this --> '_'   by("sex")["age"].describe()

In [ ]:
E from google
Report this ad
1

I have loaded a CSV file into a Pandas dataframe:

import pandas as pd

Name     ID    Sex     M_Status    DaysOff
Joe      3      M         S           1
NaN     NaN    NaN       NaN          2
NaN     NaN    NaN       NaN          3

df = pd.read_csv('People.csv')

This data will then be loaded into an HTML file.

test = """

      HTML code

 """

Now for preparing data for the HTML file:

df1 = df.filter(['Name','ID','Sex','M_Status','DaysOff'])

file = ""

for i, rows in df1.iterrows():

   name = (df1['Name'][i])
   id = (df1['ID'][i])
   sex = (df1['Sex'][i])
   m_status = (df1['M_Status'][i])
   days_off = (df1['DaysOff'][i])

   with open(f"personInfo{i}.html", "w") as file:
      file.write(test.format(name,id,sex,m_status,days_off))
      file.close()

And the error:

KeyError: 'days_off'

Note: This error is occurs within the for loop.

Can anyone see where I'm going wrong? This error is generated when you try to grab data from a column which doesn't match the name, or if the column doesn't have that header namne. However, it does.

Error Information:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py in 
get_loc(self, key, method, tolerance)
2656             try:
-> 2657                 return self._engine.get_loc(key)
2658             except KeyError:

pandas/_libs/index.pyx in pandas._libs.index.IndexEngine.get_loc()

pandas/_libs/index.pyx in pandas._libs.index.IndexEngine.get_loc()

pandas/_libs/hashtable_class_helper.pxi in 
pandas._libs.hashtable.PyObjectHashTable.get_item()

pandas/_libs/hashtable_class_helper.pxi in 
pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'days_off'

During handling of the above exception, another exception occurred:

KeyError                                  Traceback (most recent call last)
<ipython-input-16-35e6b916521b> in <module>
      1     name = (df1['Name'][i])
      2     id =  (df1['ID'][i])
      3     sex = (df1['Sex'][i])
      4     m_status = (df1['M_Status'][i])
----> 5     days_off = (df1['DaysOff'][i])    

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py in 
__getitem__(self, key)
   2925             if self.columns.nlevels > 1:
   2926                 return self._getitem_multilevel(key)
-> 2927             indexer = self.columns.get_loc(key)
   2928             if is_integer(indexer):
   2929                 indexer = [indexer]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py in 
get_loc(self, key, method, tolerance)
   2657                 return self._engine.get_loc(key)
   2658             except KeyError:
-> 2659                 return 
self._engine.get_loc(self._maybe_cast_indexer(key))
   2660         indexer = self.get_indexer([key], method=method, 
tolerance=tolerance)
   2661         if indexer.ndim > 1 or indexer.size > 1:

pandas/_libs/index.pyx in pandas._libs.index.IndexEngine.get_loc()

pandas/_libs/index.pyx in pandas._libs.index.IndexEngine.get_loc()

pandas/_libs/hashtable_class_helper.pxi in 
pandas._libs.hashtable.PyObjectHashTable.get_item()

pandas/_libs/hashtable_class_helper.pxi in 
pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'days_off'

    pythonpandascsvdataframekeyerror

In [ ]:
solve: change "Sex" to "sex" which is original name in data

In [ ]:
F from google
Report this ad
0

I'm learning python, I'm still in the newbie exercises...So have an exercise where I need to say the ideal weight to the height of the people,considering its genre... So my code it is:

#!/ sr/bin/python
heigth = float(input("Enter the height of the person: "))
sex = input("Enter the person's gender:")

if(sex == "male"):
        pi = (72.7 * heigth) - 58
elif(sex=="female"):
        pi = (62.1 * heigth) - 44.7
else:
        print("Invalid gender")

print("The ideal weight for this person is:",pi)

And the error:

    File "n13.py", line 3, in sex = input("Enter the person's gender:") File "", line 1, in NameError: name 'female' is not defined

I don't understanding why the string in the comparison have to be defined if it is just a string??? o.O

Thanks in advance!

    pythonpython-3.x

Share
Improve this question
Follow
edited Feb 2, 2017 at 13:48
jimifiki's user avatar
jimifiki
5,47522 gold badges3636 silver badges6060 bronze badges
asked Jan 24, 2017 at 14:47
Douglas Dias da Silva's user avatar
Douglas Dias da Silva
2111 silver badge55 bronze badges

    2
    I'm not receiving the same error on Python 3.x, maybe you we running it on Python 2.x? The error could happen on Python 2.x because input() is different between the two versions. If you are using Python 2.x, replace input() with raw_input() – 
    MooingRawr
    Commented Jan 24, 2017 at 14:49 

Just replace input() with raw_input() in Python2 – user7141836
Commented Jan 24, 2017 at 14:51
1
Also, pi in the last print() statement is undefined if "Invalid gender" is True – 
Edwin van Mierlo
Commented Jan 24, 2017 at 14:59
Possible duplicate of input() error - NameError: name '...' is not defined – 
Łukasz Rogalski
Commented Jan 24, 2017 at 15:03
If you copied and pasted your code then take a look at the #! line. It should probably say #!/usr/bin/python, but the u is replaced by a space. – 
cdarke
Commented Jan 24, 2

In [ ]:
slove: add" "to sex

In [ ]:
G FROM GOOGLE
SyntaxError Exception and Traceback

When the interpreter encounters invalid syntax in Python code, it will raise a SyntaxError exception and provide a traceback with some helpful information to help you debug the error. Here’s some code that contains invalid syntax in Python:

# theofficefacts.py

ages = {

    'pam': 24,

    'jim': 24

    'michael': 43

}

print(f'Michael is {ages["michael"]} years old.')

You can see the invalid syntax in the dictionary literal on line 4. The second entry, 'jim', is missing a comma. If you tried to run this code as-is, then you’d get the following traceback:

$ python theofficefacts.py
File "theofficefacts.py", line 5
    'michael': 43
            ^
SyntaxError: invalid syntax

Note that the traceback message locates the error in line 5, not line 4. The Python interpreter is attempting to point out where the invalid syntax is. However, it can only really point to where it first noticed a problem. When you get a SyntaxError traceback and the code that the traceback is pointing to looks fine, then you’ll want to start moving backward through the code until you can determine what’s wrong.

In the example above, there isn’t a problem with leaving out a comma, depending on what comes after it. For example, there’s no problem with a missing comma after 'michael' in line 5. But once the interpreter encounters something that doesn’t make sense, it can only point you to the first thing it found that it couldn’t understand.

Note: This tutorial assumes that you know the basics of Python’s tracebacks. To learn more about the Python traceback and how to read them, check out Understanding the Python Traceback and Getting the Most out of a Python Traceback.

There are a few elements of a SyntaxError traceback that can help you determine where the invalid syntax is in your code:

    The file name where the invalid syntax was encountered
    The line number and reproduced line of code where the issue was encountered
    A caret (^) on the line below the reproduced code, which shows you the point in the code that has a problem
    The error message that comes after the exception type SyntaxError, which can provide information to help you determine the problem

In the example above, the file name given was theofficefacts.py, the line number was 5, and the caret pointed to the closing quote of the dictionary key michael. The SyntaxError traceback might not point to the real problem, but it will point to the first place where the interpreter couldn’t make sense of the syntax.

There are two other exceptions that you might see Python raise. These are equivalent to SyntaxError but have different names:

    IndentationError
    TabError

These exceptions both inherit from the SyntaxError class, but they’re special cases where indentation is concerned. An IndentationError is raised when the indentation levels of your code don’t match up. A TabError is raised when your code uses both tabs and spaces in the same file. You’ll take a closer look at these exceptions in a later section.
Common Syntax Problems

When you encounter a SyntaxError for the first time, it’s helpful to know why there was a problem and what you might do to fix the invalid syntax in your Python code. In the sections below, you’ll see some of the more common reasons that a SyntaxError might be raised and how you can fix them.
Misusing the Assignment Operator (=)

There are several cases in Python where you’re not able to make assignments to objects. Some examples are assigning to literals and function calls. In the code block below, you can see a few examples that attempt to do this and the resulting SyntaxError tracebacks:

>>> len('hello') = 5
  File "<stdin>", line 1
SyntaxError: can't assign to function call

>>> 'foo' = 1
  File "<stdin>", line 1
SyntaxError: can't assign to literal

>>> 1 = 'foo'
  File "<stdin>", line 1
SyntaxError: can't assign to literal

The first example tries to assign the value 5 to the len() call. The SyntaxError message is very helpful in this case. It tells you that you can’t assign a value to a function call.

The second and third examples try to assign a string and an integer to literals. The same rule is true for other literal values. Once again, the traceback messages indicate that the problem occurs when you attempt to assign a value to a literal.

Note: The examples above are missing the repeated code line and caret (^) pointing to the problem in the traceback. The exception and traceback you see will be different when you’re in the REPL vs trying to execute this code from a file. If this code were in a file, then you’d get the repeated code line and caret pointing to the problem, as you saw in other cases throughout this tutorial.

It’s likely that your intent isn’t to assign a value to a literal or a function call. For instance, this can occur if you accidentally leave off the extra equals sign (=), which would turn the assignment into a comparison. A comparison, as you can see below, would be valid:

>>> len('hello') == 5
True

Most of the time, when Python tells you that you’re making an assignment to something that can’t be assigned to, you first might want to check to make sure that the statement shouldn’t be a Boolean expression instead. You may also run into this issue when you’re trying to assign a value to a Python keyword, which you’ll cover in the next section.
Remove ads
Misspelling, Missing, or Misusing Python Keywords

Python keywords are a set of protected words that have special meaning in Python. These are words you can’t use as identifiers, variables, or function names in your code. They’re a part of the language and can only be used in the context that Python allows.

There are three common ways that you can mistakenly use keywords:

    Misspelling a keyword
    Missing a keyword
    Misusing a keyword

If you misspell a keyword in your Python code, then you’ll get a SyntaxError. For example, here’s what happens if you spell the keyword for incorrectly:

>>> fro i in range(10):
  File "<stdin>", line 1
    fro i in range(10):
        ^
SyntaxError: invalid syntax

The message reads SyntaxError: invalid syntax, but that’s not very helpful. The traceback points to the first place where Python could detect that something was wrong. To fix this sort of error, make sure that all of your Python keywords are spelled correctly.

Another common issue with keywords is when you miss them altogether:

>>> for i range(10):
  File "<stdin>", line 1
    for i range(10):
              ^
SyntaxError: invalid syntax

Once again, the exception message isn’t that helpful, but the traceback does attempt to point you in the right direction. If you move back from the caret, then you can see that the in keyword is missing from the for loop syntax.

You can also misuse a protected Python keyword. Remember, keywords are only allowed to be used in specific situations. If you use them incorrectly, then you’ll have invalid syntax in your Python code. A common example of this is the use of continue or break outside of a loop. This can easily happen during development when you’re implementing things and happen to move logic outside of a loop:

>>> names = ['pam', 'jim', 'michael']
>>> if 'jim' in names:
...     print('jim found')
...     break
...
  File "<stdin>", line 3
SyntaxError: 'break' outside loop

>>> if 'jim' in names:
...     print('jim found')
...     continue
...
  File "<stdin>", line 3
SyntaxError: 'continue' not properly in loop

Here, Python does a great job of telling you exactly what’s wrong. The messages "'break' outside loop" and "'continue' not properly in loop" help you figure out exactly what to do. If this code were in a file, then Python would also have the caret pointing right to the misused keyword.

Another example is if you attempt to assign a Python keyword to a variable or use a keyword to define a function:

>>> pass = True
  File "<stdin>", line 1
    pass = True
         ^
SyntaxError: invalid syntax

>>> def pass():
  File "<stdin>", line 1
    def pass():
           ^
SyntaxError: invalid syntax

When you attempt to assign a value to pass, or when you attempt to define a new function called pass, you’ll get a SyntaxError and see the "invalid syntax" message again.

It might be a little harder to solve this type of invalid syntax in Python code because the code looks fine from the outside. If your code looks good, but you’re still getting a SyntaxError, then you might consider checking the variable name or function name you want to use against the keyword list for the version of Python that you’re using.

The list of protected keywords has changed with each new version of Python. For example, in Python 3.6 you could use await as a variable name or function name, but as of Python 3.7, that word has been added to the keyword list. Now, if you try to use await as a variable or function name, this will cause a SyntaxError if your code is for Python 3.7 or later.

Another example of this is print, which differs in Python 2 vs Python 3:
Version 	print Type 	Takes A Value
Python 2 	keyword 	no
Python 3 	built-in function 	yes

print is a keyword in Python 2, so you can’t assign a value to it. In Python 3, however, it’s a built-in function that can be assigned values.

N

In [ ]:
just chech code again and add groupby back

In [ ]:


TASK9

In [ ]:
I think chatbot is much faster than google, and also it is super efficent on chech error